<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.business.system.dao.ManageRoleDao">

    <insert id="insert" parameterType="ManageRoleEntity" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select to_char(sysdate, 'yymmdd') || system_role_seq.nextval from dual
        </selectKey>
        insert into system_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="rolename != null">
                rolename,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createuserid != null">
                createuserid,
            </if>
            roletype,
            delflag,
            rowtime,
            rowver,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id},
            <if test="rolename != null">
                #{rolename},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
            <if test="createuserid != null">
                #{createuserid},
            </if>
            1,
            0,
            sysdate,
            0,
        </trim>
    </insert>

    <update id="update" parameterType="ManageRoleEntity">
        update system_role
        <set>
            <if test="rolename != null">
                rolename = #{rolename},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="createuserid != null">
                createuserid = #{createuserid},
            </if>
            rowtime = sysdate,
            rowver = rowver + 1,
        </set>
        where id = #{id}
    </update>

    <select id="validate" resultType="int">
        select count(*) as count from system_role
        <where>
            <if test="idValue != null and idValue != ''">
                 and id &lt;&gt; #{idValue}
            </if>
            and ${name} = #{value}
            and roletype = 1
            and delflag = 0            
        </where>
    </select>

    <select id="exists" parameterType="ManageRoleEntity" resultType="int">
        select count(*) as count from system_role
        <where>
            <if test="id != null and id != ''">
                and id &lt;&gt; #{id}
            </if>
            and rolename = #{rolename} 
            and roletype = 1
            and delflag = 0
        </where>
    </select>

    <delete id="deleteById" parameterType="String">
        update system_role set delflag = 1 where id = #{id}
    </delete>

    <select id="selectById" parameterType="String" resultType="ManageRoleEntity">
        select * from system_role where id = #{id}
    </select>

    <select id="selectAll" parameterType="Map" resultType="ManageRoleEntity">
        select * from system_role
        <include refid="whereSearch" />
    </select>

    <select id="count" parameterType="Map" resultType="int">
        select count(*) from system_role
        <include refid="whereSearch" />
    </select>

    <sql id="whereSearch">
        <where>
        	roletype = 1 and delflag = 0
            <if test="rolename != null and rolename != ''">
                and rolename like '%${rolename}%'
            </if>
            <if test="remark != null and remark != ''">
                and remark like '%${remark}%'
            </if>
        </where>
    </sql>
    
	<select id="getEntityList" resultType="ManageRoleEntity">
		select * from system_role where roletype = 1 and delflag = 0 order by id asc
	</select>    

</mapper>